@page "/calendario"
@using Dominio;
@using Newtonsoft.Json;
@inject HttpClient Http

@* <PageTitle>Counter</PageTitle>

<h3>Calendario - @teste</h3> *@

@* @if (eventos == null)
{
    <p><em>Vazio</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Mês</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evento in eventos)
            {
                <tr>
                    <td>@evento.Data.ToShortDateString()</td>
                    <td>@evento.Descricao</td>
                    <td>@evento.Mes</td>
                </tr>
            }
        </tbody>
    </table>
} *@

@eventosJson;

@code {

    private Evento[]? eventos;
    private string? eventosJson;

    private string teste = "Hello Calendário";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            eventos = await Http.GetFromJsonAsync<Evento[]>("sample-data/calendario.json");
            eventosJson = JsonConvert.SerializeObject(eventos);
        }
        catch (Exception ex)
        {            
            Console.WriteLine(ex.Message);
        }
        
    }

}
